# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Facultate\An II\Semestrul II\Retea de calculatoare(Rechnernetz)\Teme\Tema VMs - c++\Versions\V1\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
